.container-fluid{
  background-color: yellow;
  height: 900px;
  padding-top: 100px;
}

.header {
  background-color: blue;
  height: 150px;
}

.nav {
  background-color: green;
  height: 50px;

}

.content {
  background-color: red;
  height: 180px;
}

.aside {
  background-color: #00ffff;
  height: 180px
}

.promo {
  background-color: orange;
  height: 100px;
}

.footer {
  background-color: black;
  height: 50px;
  color: white;
}
